#contenido_detalle_inmueble {

    #seccion_izquierda {


        i {
            color: $azul_claro;
        }
    
      .botones {
        font-size: 15px;
        border: none;
        padding: 11px;
        background-color: $azul_oscuro;

        &:hover {
            background-color: $azul_claro;
        }

      }

      .iconos_y_ficha {

        
        i {
            color: $azul_claro;

            &:hover {
                color: $gris;
            }
        }

      }

    }

    #seccion_derecha {

        .imagen_asesor {

            img{
                width: 70%;
            }
    
        }

        #contacto_asesor {
            p {
                a{
                    font-weight: 400;
                }
            }
        }

        #propiedades_similares {

            a {

                color: inherit;
                text-decoration: none;
                transition: all 200ms ease-in-out;

                &:hover {

                    img {
                        border-radius: 20px;
                        filter: brightness(0.8);
                    }
                }

            }

            img {
                transition: all 200ms ease-in-out;
                width: 100%;
            }

        }

    }

}
