#contenedor{
    margin-top: 3%;
}#descripcion{

    #imagenes_iconos{
        width: 90%;
    }
    
    
    img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding:2%;
    }
    h2{
        font-weight: bold;
    }
    .margen_iconos_imagen{
        margin-top: 59%;
    }
   

    

}
#imagenes_iconos_mision{
    width: 30%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    padding: 0;
    margin-left: 21%;
    margin-top: -2%;
        }
.fondo{
    background-image: url('../images/rectangulo_azul_gris.png');
    
}
.norma_iso{
    #img{
        width: 60%;
        
    }
    .cont_iso{
        right: -9%;
    }
    #img2{
        width: 60%;
        
    }
    .cont_Qa{
        margin-left: -5%;
    }
    .etiqueta{
        font-size: 12px;
    margin-left: 208px;
    
    margin-top: 21%;
        
    }
}
.cont_imagen{
    margin-top: -7%;
}

